h2 {
  font-size: 30px; 
}

/* Custom Fonts  */
@font-face {
    font-family: 'Custom';
    src: url('/assets/fonts/GlitchGoblin-2O87v.ttf') format('truetype');
  }
  
  .modal {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width:100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;

}
.modal-header {
  display: flex; 
}
.modal-header h2 {
 
  width: 100%; 
  font-weight: 600; 
  margin: 0; 
  padding: 10px; 
  text-align: center ;
  font-family: 'Custom';
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    position: relative;
    width: fit-content; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.video-container {
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

  .logoWrap {
    display: flex; 
    justify-content: center; 
  }
  .logoWrap img {
    width: 300px; 
  }
  .logo-wrap-small img {
    width: 140px; 
  }
  
  .homepage-wrap {
    height: 100%; 
  }
  
  .header {
    position: relative; 
    background-color: #ffffff;
  }
  
  .header-link{
    display: flex; 
    justify-content: space-between; 
  }
  .header a.main {
    text-decoration: none; 
    font-size: 25px; 
    font-weight: 600; 
    color: #000000; 
    font-family: sans-serif;  
    background-color: #ffffff ;
    display: flex; 
    align-items: flex-end; 
    padding-left: 10px; 
    cursor: pointer;
  }

  .header a.main:hover {
  color: rgb(139, 2, 243)
  }
  /* Nav Styles  */
  ul {
    list-style-type: none; 
    padding: 5px; 
  
    background-color: white; 
  }
  .nav {
    display: flex; 
    justify-content: flex-end; 
    box-shadow: inset 0 0.2px 0 black;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
   
  }
  ul.nav.nav-tabs{
    margin: 0; 
  }
  .nav-item {
    padding-right: 50px; 
  }
  
  .nav-item a {
    color: #000000; 
    text-decoration: none;
    padding: 0px 20px; 
    font-size: 14px; 
    border-radius: 2px; 
    background-color: #ffffff; 
    z-index: 2000; 
    cursor: pointer; 
    font-family: "Roboto Mono", monospace;
  }
  
  .nav-item.login button {
    border: none; 
    color: #ffffff;
    background-color: #000000;
    padding: 5px 10px; 
    border-radius: 2px; 
    cursor: pointer;
    font-size: 12px; 
    font-family: "Roboto Mono", monospace;
  }
  .nav-item.login button:hover, .nav-item.book button:hover, .nav-item a:hover  {
    color: rgb(139, 2, 243);
    font-weight: 600; 
  }
  
  .nav-item.book button {
    border: none; 
    font: sans-serif; 
    background: #ffffff; 
    font-size: 14px; 
    cursor: pointer 
  }
  /*Login styles*/ 
  
  .forms-section fieldset {
    border: none;
  }
  
  .forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }
  .forms .form-signup {
    display: flex; 
    flex-direction: column;
    height: 100%; 
    align-items: center;
  }
  .forms .form-login {
    display: flex; 
    flex-direction: column;
    height: 100%;
    align-items: center; 
    justify-content: center;
  }
  
  @media screen and (max-width:300px) {
    .form-wrapper {
      border: none; 
    }
    .forms {
      gap: 1rem; 
    }
  }
  .forms .btn-wrap {
    max-width: 100%; 
    display: flex; 
    justify-content: center; 
   
  }
  .forms legend {
    font-size: 22px;
    
  }
  .forms .input-block {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    padding: 10px; 
  }
  .forms button{
    background-color: #000000;
    color: white;
    font-size: 15px;
    padding: 5px 15px; 
    border-radius: 5px; 
    outline: none;
    border: none;
    cursor: pointer; 
  }
  
  .forms button:hover {
    background-color: white;
    color: #000000;
    border: 2px solid #000000;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
  }
  
  .popup-content {
   padding: 30px; 
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #888;
  }
  
  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 998;
  }
  
  /* homepage styles */
  
  .booking-link:hover {
    color:rgb(139, 2, 243); 
    border: none;
    text-shadow: none; 
  }
  .button-cont:hover {
    border: solid 2px rgb(139, 2, 243); 
  }
  
  .button-cont {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    border: solid 2px #ffffff;
    padding: 10px 15px 10px 10px;
    z-index: 2; 
  }
  a.booking-link {
      font-weight: 800;
      font-size: 55px;
      color: #ffffff; 
      text-decoration: none;
      font-family: Custom;
  }
  
  .video-container{
   position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%!important; 
  }
  .video-tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
  }
  
  /* service buttons */ 
  .service-section {   
    padding-top: 20px; 
    margin-top: 30px; 
    border-top: 1px solid #aaa;
  }

  .service-section h2 {
    text-align: center; 
    margin: 20px; 
    font-weight: 400; 
    letter-spacing: 5px;
    font-family: sans-serif;
  }
  .service-buttons{
    display: flex; 
    justify-content: center;
    gap: 1rem; 
    padding: 20px; 
  }
  .service {
    position: relative; 
  }
  .service img {
    max-width: 400px; 
    display: block; 
    width: 100%; 
  }
  .text-overlay {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px;
    font-weight: bold; 
    text-align: center; 
    cursor: pointer; 
    width: 100%;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.2); 
    font-family:sans-serif;
  }
  
  .service:hover .text-overlay{
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  /* Portfolio/Work  */
  
  .slider {
    width: 100vw; 
    height: 300px; 
  }
  .slides {
    opacity: 1; 
  }
  
  
  .work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-top: 10px; 
    position: relative; 
  }
  
  .column {
    display:flex; 
    flex-direction: column;
  }
  .column img {
    max-width: 250px; 
  }
  .column video {
    max-width: 250px; 
  }
  
  
  .col:hover img {
    transform: translateY(-5px); /* Adjust as needed */
  }
  
  .work p {
    color: white; 
  }
  video#video {
    border: none; 
  }
  
  /* Booking Css*/
  
.booking-header {
  text-align: center; 
  font-family: Custom;
}

.info-section {
  text-align:left; 
  padding: 20px 0; 
  margin: 30px 0; 
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.info-section p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.info-section h2{
  font-family: sans-serif; 
  letter-spacing: 5px;
}

.info-section a:hover {
  color: rgb(139, 2, 243); 
  text-decoration: none; 
}
.info-section a {
  text-decoration: none; 
}

.info-section a:visited {
  color: #888; 
}