/* general  */
@font-face {
    font-family: 'Custom';
    src: url('/assets/fonts/GlitchGoblin-2O87v.ttf') format('truetype');
  }
  

header {
  display: none; 
}

  body {
    margin: 0; 
    overflow: auto; 
  }
  .homepage-wrap {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 3rem;
    font-weight: bold; 
    font-family: Custom;
    letter-spacing: 5px;
    margin: 20px 0; 
    color: #000;
  }
  
  .modal-header h2 {
    font-family: Custom;

  }

  /* homepage styles */
  #content {
    padding-top: 140px; 
  }
  .video-container {
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    position: relative; 
    display: flex; 
}


.booking-link:hover {
  color: transparent; /* Make text transparent to apply the gradient */
  background:linear-gradient(90deg, #e0e0e0, #a0a0a0, #606060); 
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  border: none;
  transition:  0.3s ease-in-out; /* Smooth transition for hover effect */
}



@keyframes metallic-sheen {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

  .button-cont:hover {
    border: none; 
  }
  
  .button-cont {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    border: solid 2px #ffffff;
    padding: 10px 15px 10px 10px;
    z-index: 2; 
  }
  a.booking-link {
      font-weight: 800;
      font-size: 5rem;
      color: #ffffff; 
      text-decoration: none;
      font-family: Custom;
  }
  
  .video-container{
   position: relative; 
    display: flex; 
    /* justify-content: center;  */
    /* align-items: center;  */
    /* height: 100%!important;  */
  }
  .video-container video {
    display: flex; 
  }
  .video-tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
  }
  
  /* service buttons */ 
  .service-section {   
    padding-top: 20px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
  }

.service-section h2 {
  text-align: center; 
  font-size: 4rem; 
}
  .service-buttons{
    display: flex; 
    justify-content: center;
    gap: 4.5rem; 
    padding: 20px; 
  }
  .service {
    position: relative; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
  .service img {
    max-width: 400px; 
    display: block; 
    width: 100%; 
  }
  .text-overlay {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px;
    font-weight: bold; 
    text-align: center; 
    cursor: pointer; 
    width: 100%;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.2); 
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
  }
  
  .service:hover .text-overlay{
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
.text-overlay a {
  text-decoration: none;
  color: #fff; 
  cursor: pointer; 
  
}

.text-overlay a.book-link {
  font-weight: 600; 
  color: #ffffff; 
  text-decoration: none; 
  font-family: Custom;
  font-size: 16px; 
}

.text-overlay a:hover{
  color: #bbb; 
}
.book-link {
  visibility: hidden;
}

.service:hover .book-link {
  visibility: visible;
}

/* info section */
h2 a svg {
  width: 200px; 
}
.info-wrap {
  display: flex; 
  justify-content: center;
  background-color: #f6f6f6;
}
.info-section {
  text-align:left; 
  padding: 40px 5%; 
  margin: 30px 50px; 
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); */
  border-radius: 10px; 
  max-width: 1200px; 
}

.info-section p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.info-section h2{
  /* font-family: sans-serif; 
  letter-spacing: 5px; */
  text-align: center;
}

.info-section a:hover {
  color: transparent; /* Make text transparent to apply the gradient */
  background:linear-gradient(90deg, #e0e0e0, #a0a0a0, #606060); 
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  border: none;
  transition:  0.3s ease-in-out; /* Smooth transition for hover effect */
}




.info-section a {
  text-decoration: none; 
  color: #000; 
}

.info-section a:visited {
  color: #888; 
}

       /* ---- grid ---- */
       @media screen and (min-width:1600px) {
        .grid {
          display: grid;
          gap: 1rem;
          align-items: start;
          width: fit-content;
          margin-inline: auto;
          grid-template-columns: repeat(7, 1fr);
          transform: translateY(17.5%);
          }
       }
       @media screen and (min-width:1281px) {
        .grid {
          display: grid;
          gap: 1rem;
          align-items: start;
          width: fit-content;
          margin-inline: auto;
          grid-template-columns: repeat(6, 1fr);
          transform: translateY(17.5%);
          }
       }
       @media screen and (max-width:1280px){
       .grid {
        display: grid;
        gap: 1rem;
        align-items: start;
        width: fit-content;
        margin-inline: auto;
        grid-template-columns: repeat(4, 1fr);
        transform: translateY(25%);
        }
      }


      .grid-column {
          display: flex;
        flex-direction: column;
      
        }
        
        .item {
            display: inline-block;
            padding: 0;
            margin: 0 0 1.5rem;
            width: 100%;
            box-sizing: border-box;
            max-width: 330px;  
        }
        
        .item img {
            width: 100%;
            height: auto; /* Ensures images maintain aspect ratio */
        }
    
        /* Media Queries */


  
        .booking-header {
          text-align: center; 
          font-family: Custom;
        }
        
h1.booking-header  {
  font-family: 'Custom'; 
}

        .card-wrap {
          display: flex; 
          justify-content: center; 
          overflow: auto; 
        }

        .book-wrap {
        
          display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 1400px;
              transform: translateY(30%);
        }
        iframe {
           
          
            max-width: 1400px; 
        }
     
        .object-contain {
          display: none!important;
          
      }



    .video-container.mobile {
      display: none; 
    }

    @media screen and (max-width:768px) {
      .video-container.desktop {
        display: none; 
      }
      .video-container.mobile {
        display: flex; 
        transform: translateY(6%); 
      }
      .video-container.mobile img {
        width: 100%; 
      }
      
      video {
        display: none; 
      }
      .video-tint {
        background-color: rgba(0, 0, 0, 0.2);
      }
      a.booking-link {
       
        font-size: 4rem;
    }
  }
    
@media screen and (max-width:641px) {

.button-cont {
          top: 30%; 
        }
a.booking-link {
  font-size: 1.75rem; 
}
.video-container {
  height: 400px; 
}
.service-buttons {
  flex-direction: column; 
}
.grid {
  display: flex;
  flex-direction: column; 
  transform: translateY(2%); 
}
.book-wrap {
  transform: translateY(20%);
}
h1.booking-header {
   font-size: 20px;
}
header.flex.items-center.py-2 {

  justify-content: center!important; 
}
      }

      .object-contain {
        
        display: none!important;
    }

  
