/* general  */
@font-face {
    font-family: 'Custom';
    src: url('/assets/fonts/GlitchGoblin-2O87v.ttf') format('truetype');
  }
  
  body {
    margin: 0; 
  }
  .homepage-wrap {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  }
  h2 {
    font-size: 30px; 
    font-weight: bold; 
    font-family: sans-serif; 
    letter-spacing: 5px;
    margin: 20px 0; 
    color: #888; 
  }
  

  /* homepage styles */
  #content {
    padding-top: 140px; 
  }
  .video-container {
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    border: none;
    position: relative; 
}


  .booking-link:hover {
    color:rgb(170, 50, 255);
    border: none;
    text-shadow: none; 
  }
  .button-cont:hover {
    border: solid 2px rgb(170, 50, 255); 
  }
  
  .button-cont {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    border: solid 2px #ffffff;
    padding: 10px 15px 10px 10px;
    z-index: 2; 
  }
  a.booking-link {
      font-weight: 800;
      font-size: 55px;
      color: #ffffff; 
      text-decoration: none;
      font-family: Custom;
  }
  
  .video-container{
   position: relative; 
    display: flex; 
    /* justify-content: center;  */
    /* align-items: center;  */
    /* height: 100%!important;  */
  }
  .video-container video {
    display: flex; 
  }
  .video-tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
  }
  
  /* service buttons */ 
  .service-section {   
    padding-top: 20px; 
    margin-top: 30px; 
    border-top: 1px solid #aaa;
  }

.service-section h2 {
  text-align: center; 
}
  .service-buttons{
    display: flex; 
    justify-content: center;
    gap: 4.5rem; 
    padding: 20px; 
  }
  .service {
    position: relative; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
  .service img {
    max-width: 400px; 
    display: block; 
    width: 100%; 
  }
  .text-overlay {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px;
    font-weight: bold; 
    text-align: center; 
    cursor: pointer; 
    width: 100%;
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.2); 
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
  }
  
  .service:hover .text-overlay{
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
.text-overlay a {
  text-decoration: none;
  color: #fff; 
  cursor: pointer; 
  
}

.text-overlay a.book-link {
  font-weight: 600; 
  color: #ffffff; 
  text-decoration: none; 
  font-family: Custom;
  font-size: 16px; 
}

.text-overlay a:hover{
  color: #bbb; 
}
.book-link {
  visibility: hidden;
}

.service:hover .book-link {
  visibility: visible;
}

/* info section */
.info-section {
  text-align:left; 
  padding: 40px 5%; 
  margin: 30px 0; 
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.info-section p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.info-section h2{
  font-family: sans-serif; 
  letter-spacing: 5px;
}

.info-section a:hover {
  color: rgb(170, 50, 255);
  text-decoration: none; 
}
.info-section a {
  text-decoration: none; 
  color: #000; 
}

.info-section a:visited {
  color: #888; 
}

       /* ---- grid ---- */
       .grid {
        display: grid;
        gap: 1rem;
        align-items: start;
        width: fit-content;
        margin-inline: auto;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 120px; 
        }
      .grid-column {
          display: flex;
        flex-direction: column;
      
        }
        
        .item {
            display: inline-block;
            padding: 0;
            margin: 0 0 1.5rem;
            width: 100%;
            box-sizing: border-box;
            max-width: 330px;  
        }
        
        .item img {
            width: 100%;
            height: auto; /* Ensures images maintain aspect ratio */
        }
    
        /* Media Queries */


  
        .booking-header {
          text-align: center; 
          font-family: Custom;
          padding-top: 165px;
        }
        
        iframe {
            border: 1px solid #CCC; 
        }
        img.rounded-xl.object-contain.h-12 {
          display: none!important; 
        }